workflow_snapshots/alert_integration_WORKING_20260304_051200.json
{
  "sursBjK1ZGzMes8k": {
    "name": "🚨 NEXUS - Unified Alert Ingress",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:11:36.182Z",
      "createdAt": "2026-03-04T04:08:38.223Z",
      "id": "sursBjK1ZGzMes8k",
      "name": "🚨 NEXUS - Unified Alert Ingress",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "system-alert-ingress",
            "responseMode": "onReceived"
          },
          "id": "alert_ingress_webhook",
          "name": "System Alert Ingress",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            300
          ],
          "webhookId": "a0dec020-90e2-4e2d-a881-9c68fdd520a1"
        },
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "source",
                  "value": "={{ $json.source || $json.workflow || \"unknown\" }}"
                },
                {
                  "name": "severity",
                  "value": "={{ $json.severity || \"medium\" }}"
                },
                {
                  "name": "message",
                  "value": "={{ $json.message || $json.text || JSON.stringify($json) }}"
                }
              ]
            },
            "options": {}
          },
          "id": "normalize_alert",
          "name": "Normalize Alert",
          "type": "n8n-nodes-base.set",
          "typeVersion": 2,
          "position": [
            460,
            300
          ]
        },
        {
          "parameters": {
            "chatId": "6899339578",
            "text": "🚨 System Alert\\nSource: {{$json.source}}\\nSeverity: {{$json.severity}}\\n{{$json.message}}",
            "additionalFields": {}
          },
          "id": "telegram_alert",
          "name": "Telegram Alert",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            700,
            180
          ],
          "credentials": {
            "telegramApi": {
              "id": "M6RSYbbNfAzdDfMM",
              "name": "@Nexusto_bot Token"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.resend.com/emails",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🚨 NEXUS System Alert - \" + $json.severity, html: \"<h2>System Alert</h2><p><b>Source:</b> \" + $json.source + \"</p><p><b>Severity:</b> \" + $json.severity + \"</p><pre>\" + $json.message + \"</pre>\" } }}"
          },
          "id": "email_alert",
          "name": "Email Alert",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            700,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/nexus-alert-trigger",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { source: $json.source, severity: $json.severity, message: $json.message, triggeredAt: $now } }}"
          },
          "id": "trigger_full_audit",
          "name": "Trigger Full Audit",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            700,
            420
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "url": "http://loki:3100/loki/api/v1/push",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "={{ { streams: [ { stream: { job: \"n8n-alerts\", source: $json.source, severity: $json.severity }, values: [ [ String(new Date().getTime()) + \"000000\", \"Alert: \" + $json.message ] ] } ] } }}"
          },
          "id": "loki_alert_sink",
          "name": "Log to Loki",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            700,
            540
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "System Alert Ingress": {
          "main": [
            [
              {
                "node": "Normalize Alert",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Alert": {
          "main": [
            [
              {
                "node": "Telegram Alert",
                "type": "main",
                "index": 0
              },
              {
                "node": "Email Alert",
                "type": "main",
                "index": 0
              },
              {
                "node": "Trigger Full Audit",
                "type": "main",
                "index": 0
              },
              {
                "node": "Log to Loki",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
      "activeVersionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
      "versionCounter": 9,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-04T04:08:38.223Z",
          "createdAt": "2026-03-04T04:08:38.223Z",
          "role": "workflow:owner",
          "workflowId": "sursBjK1ZGzMes8k",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:11:36.184Z",
        "createdAt": "2026-03-04T04:11:36.184Z",
        "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
        "workflowId": "sursBjK1ZGzMes8k",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "system-alert-ingress",
              "responseMode": "onReceived"
            },
            "id": "alert_ingress_webhook",
            "name": "System Alert Ingress",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
              240,
              300
            ],
            "webhookId": "a0dec020-90e2-4e2d-a881-9c68fdd520a1"
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "source",
                    "value": "={{ $json.source || $json.workflow || \"unknown\" }}"
                  },
                  {
                    "name": "severity",
                    "value": "={{ $json.severity || \"medium\" }}"
                  },
                  {
                    "name": "message",
                    "value": "={{ $json.message || $json.text || JSON.stringify($json) }}"
                  }
                ]
              },
              "options": {}
            },
            "id": "normalize_alert",
            "name": "Normalize Alert",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
              460,
              300
            ]
          },
          {
            "parameters": {
              "chatId": "6899339578",
              "text": "🚨 System Alert\\nSource: {{$json.source}}\\nSeverity: {{$json.severity}}\\n{{$json.message}}",
              "additionalFields": {}
            },
            "id": "telegram_alert",
            "name": "Telegram Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              700,
              180
            ],
            "credentials": {
              "telegramApi": {
                "id": "M6RSYbbNfAzdDfMM",
                "name": "@Nexusto_bot Token"
              }
            }
          },
          {
            "parameters": {
              "method": "POST",
              "url": "https://api.resend.com/emails",
              "sendHeaders": true,
              "headerParameters": {
                "parameters": [
                  {
                    "name": "Authorization",
                    "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ]
              },
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🚨 NEXUS System Alert - \" + $json.severity, html: \"<h2>System Alert</h2><p><b>Source:</b> \" + $json.source + \"</p><p><b>Severity:</b> \" + $json.severity + \"</p><pre>\" + $json.message + \"</pre>\" } }}"
            },
            "id": "email_alert",
            "name": "Email Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              700,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/nexus-alert-trigger",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={{ { source: $json.source, severity: $json.severity, message: $json.message, triggeredAt: $now } }}"
            },
            "id": "trigger_full_audit",
            "name": "Trigger Full Audit",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              700,
              420
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "url": "http://loki:3100/loki/api/v1/push",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "={{ { streams: [ { stream: { job: \"n8n-alerts\", source: $json.source, severity: $json.severity }, values: [ [ String(new Date().getTime()) + \"000000\", \"Alert: \" + $json.message ] ] } ] } }}"
            },
            "id": "loki_alert_sink",
            "name": "Log to Loki",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              700,
              540
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "System Alert Ingress": {
            "main": [
              [
                {
                  "node": "Normalize Alert",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Normalize Alert": {
            "main": [
              [
                {
                  "node": "Telegram Alert",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Email Alert",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Trigger Full Audit",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Log to Loki",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:11:36.315Z",
            "id": 33,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "09b94899007a42132fcbd5c89891bfe1482e9d9049c9f02bf5cf38f26082a9a3"
    }
  },
  "4QBqdYgThkCInHD1": {
    "name": "🤖 NEXUS - Full Site Audit Bot",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:29.641Z",
      "createdAt": "2026-03-03T22:46:03.622Z",
      "id": "4QBqdYgThkCInHD1",
      "name": "🤖 NEXUS - Full Site Audit Bot",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "id": "cron_weekly",
          "name": "Every Sunday 3am UTC",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [
            240,
            304
          ]
        },
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "audit_status",
                  "value": "started"
                }
              ]
            },
            "options": {}
          },
          "id": "prepare_data",
          "name": "Prepare Data",
          "type": "n8n-nodes-base.set",
          "typeVersion": 2,
          "position": [
            464,
            304
          ]
        },
        {
          "parameters": {
            "chatId": "6899339578",
            "text": "✅ Weekly site audit completed\\nCheck email for full report",
            "additionalFields": {}
          },
          "id": "notify_audit",
          "name": "Notify Completion",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            1568,
            304
          ],
          "webhookId": "debe2a65-9bf8-4738-9686-16380f871fab",
          "credentials": {
            "telegramApi": {
              "id": "M6RSYbbNfAzdDfMM",
              "name": "@Nexusto_bot Token"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDh2YVY62k0U_RJ_C73LUI8T7tfZ0X2oI4",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": {
              "contents": [
                {
                  "parts": [
                    {
                      "text": "Generate a comprehensive weekly site audit report with:\n1. Executive Summary\n2. Database Health Check - Status: Healthy\n3. Security Assessment - Status: No threats detected\n4. Link Validation - Status: All valid\n5. Recommendations for improvement"
                    }
                  ],
                  "role": "user"
                }
              ]
            },
            "options": {}
          },
          "id": "gemini_audit_http",
          "name": "Gemini: Generate Report",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [
            1008,
            304
          ]
        },
        {
          "parameters": {},
          "id": "manual_trigger",
          "name": "Manual Test",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            112,
            112
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.resend.com/emails",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🤖 Weekly Site Audit Report\", html: \"<h1>NEXUS Transport Test</h1><p>Status parse path removed.</p>\" } }}"
          },
          "id": "send_audit_report",
          "name": "Send Report",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            1280,
            304
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "nexus-alert-trigger",
            "responseMode": "onReceived"
          },
          "id": "alert_trigger_webhook",
          "name": "Alert Trigger",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            480
          ],
          "webhookId": "008180de-879c-43fc-b994-643e2c5e56d3"
        }
      ],
      "connections": {
        "Every Sunday 3am UTC": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Data": {
          "main": [
            [
              {
                "node": "Gemini: Generate Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini: Generate Report": {
          "main": [
            [
              {
                "node": "Send Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Send Report": {
          "main": [
            [
              {
                "node": "Notify Completion",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Manual Test": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Alert Trigger": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "Global Error Notifier",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "54dc5ddd-5ec5-414f-a298-6336a84bdf44",
      "activeVersionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
      "versionCounter": 118,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:03.622Z",
          "createdAt": "2026-03-03T22:46:03.622Z",
          "role": "workflow:owner",
          "workflowId": "4QBqdYgThkCInHD1",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T00:32:12.874Z",
        "createdAt": "2026-03-04T00:31:56.221Z",
        "versionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
        "workflowId": "4QBqdYgThkCInHD1",
        "nodes": [
          {
            "parameters": {},
            "id": "cron_weekly",
            "name": "Every Sunday 3am UTC",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
              240,
              304
            ]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "audit_status",
                    "value": "started"
                  }
                ]
              },
              "options": {}
            },
            "id": "prepare_data",
            "name": "Prepare Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
              464,
              304
            ]
          },
          {
            "parameters": {
              "method": "POST",
              "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
              "options": {}
            },
            "id": "gemini_audit_summary",
            "name": "Gemini: Generate Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              1120,
              304
            ]
          },
          {
            "parameters": {
              "fromEmail": "audit@nexus.store",
              "toEmail": "{{ $env.ADMIN_EMAIL }}",
              "subject": "🤖 Weekly Site Audit Report",
              "emailFormat": "=tex{{  $node[\"Message a model\"].json[\"text\"] }} }}",
              "options": {}
            },
            "id": "send_audit_report",
            "name": "Send Report",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
              1344,
              304
            ],
            "webhookId": "cf32eca3-a585-4951-a5a2-e6f994b5fba3",
            "credentials": {
              "smtp": {
                "id": "AhpoCKfSVc7RskIl",
                "name": "Resend SMTP"
              }
            }
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "✅ Weekly site audit completed\\nCheck email for full report",
              "additionalFields": {}
            },
            "id": "notify_audit",
            "name": "Notify Completion",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              1568,
              304
            ],
            "webhookId": "debe2a65-9bf8-4738-9686-16380f871fab",
            "credentials": {
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            }
          }
        ],
        "connections": {
          "Every Sunday 3am UTC": {
            "main": [
              [
                {
                  "node": "Prepare Data",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Prepare Data": {
            "main": [
              [
                {
                  "node": "Gemini: Generate Report",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Send Report",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Gemini: Generate Report": {
            "main": [
              [
                {
                  "node": "Send Report",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Send Report": {
            "main": [
              [
                {
                  "node": "Notify Completion",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": "Version 3a7f9448",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T00:32:12.866Z",
            "id": 26,
            "workflowId": "4QBqdYgThkCInHD1",
            "versionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "1e0d6f34d1937997ee9a6bce71020d5a2f5624cae6a7145d7dcf9f0f8e9ec6df"
    }
  },
  "LSeOJC8VuWOL4dp4": {
    "name": "🔥 NEXUS - Global Error Notifier",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:30.256Z",
      "createdAt": "2026-03-03T22:46:00.913Z",
      "id": "LSeOJC8VuWOL4dp4",
      "name": "🔥 NEXUS - Global Error Notifier",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "error-notifier",
            "responseMode": "onReceived"
          },
          "id": "1",
          "name": "Error Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        },
        {
          "parameters": {
            "url": "http://nexus-rust-service:8080/analyze-error",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "{{ {\"error\":$json.error,\"workflow\":$json.workflowName,\"timestamp\":new Date().toISOString()} }}"
          },
          "id": "2",
          "name": "Rust Error Analyzer",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            460,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
            "text": "🚨 NEXUS ERROR ALERT\n\nWorkflow: {{$json.workflowName}}\nError: {{$json.error.message}}\nSeverity: {{$json[\"Rust Error Analyzer\"].severity || \"UNKNOWN\"}}\nTime: {{new Date().toISOString()}}"
          },
          "id": "3",
          "name": "Telegram Critical Alert",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            680,
            200
          ],
          "credentials": {
            "telegramApi": {
              "id": "P1JqNmgOzQhedrUg",
              "name": "NEXUS Telegram Bot"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "url": "http://loki:3100/loki/api/v1/push",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"n8n-errors\",\"workflow\":\"{{$json.workflowName}}\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"Error: {{$json.error.message}} | Stack: {{$json.error.stack}}\"]]}]} }}"
          },
          "id": "4",
          "name": "Log to Loki",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            680,
            400
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "fromEmail": "alerts@nexus.store",
            "toEmail": "admin@nexus.store",
            "subject": "🚨 NEXUS CRITICAL ERROR - {{$json.workflowName}}",
            "text": "Workflow: {{$json.workflowName}}\n\nError Message:\n{{$json.error.message}}\n\nStack Trace:\n{{$json.error.stack}}\n\nTimestamp: {{new Date().toISOString()}}"
          },
          "id": "5",
          "name": "Admin Email Alert",
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 1,
          "position": [
            900,
            300
          ],
          "credentials": {
            "smtp": {
              "id": "AhpoCKfSVc7RskIl",
              "name": "Resend SMTP"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={ { source: \"🔥 NEXUS - Global Error Notifier\", severity: \"medium\", message: \"Alert event from 🔥 NEXUS - Global Error Notifier\", payload: $json } }"
          },
          "id": "forward_ingress_LSeOJC8V",
          "name": "Forward to Alert Ingress",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            460,
            160
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "Error Webhook": {
          "main": [
            [
              {
                "node": "Rust Error Analyzer"
              },
              {
                "node": "Forward to Alert Ingress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rust Error Analyzer": {
          "main": [
            [
              {
                "node": "Telegram Critical Alert"
              },
              {
                "node": "Log to Loki"
              }
            ]
          ]
        },
        "Log to Loki": {
          "main": [
            [
              {
                "node": "Admin Email Alert"
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "07fe1510-065f-428f-bcca-da1894b73fb5",
      "activeVersionId": "07fe1510-065f-428f-bcca-da1894b73fb5",
      "versionCounter": 8,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:00.913Z",
          "createdAt": "2026-03-03T22:46:00.913Z",
          "role": "workflow:owner",
          "workflowId": "LSeOJC8VuWOL4dp4",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:08:38.333Z",
        "createdAt": "2026-03-04T04:08:38.333Z",
        "versionId": "07fe1510-065f-428f-bcca-da1894b73fb5",
        "workflowId": "LSeOJC8VuWOL4dp4",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "error-notifier",
              "responseMode": "onReceived"
            },
            "id": "1",
            "name": "Error Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
              240,
              300
            ]
          },
          {
            "parameters": {
              "url": "http://nexus-rust-service:8080/analyze-error",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "{{ {\"error\":$json.error,\"workflow\":$json.workflowName,\"timestamp\":new Date().toISOString()} }}"
            },
            "id": "2",
            "name": "Rust Error Analyzer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              460,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "🚨 NEXUS ERROR ALERT\n\nWorkflow: {{$json.workflowName}}\nError: {{$json.error.message}}\nSeverity: {{$json[\"Rust Error Analyzer\"].severity || \"UNKNOWN\"}}\nTime: {{new Date().toISOString()}}"
            },
            "id": "3",
            "name": "Telegram Critical Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              680,
              200
            ],
            "credentials": {
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            },
            "continueOnFail": true
          },
          {
            "parameters": {
              "url": "http://loki:3100/loki/api/v1/push",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"n8n-errors\",\"workflow\":\"{{$json.workflowName}}\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"Error: {{$json.error.message}} | Stack: {{$json.error.stack}}\"]]}]} }}"
            },
            "id": "4",
            "name": "Log to Loki",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              680,
              400
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "fromEmail": "alerts@nexus.store",
              "toEmail": "admin@nexus.store",
              "subject": "🚨 NEXUS CRITICAL ERROR - {{$json.workflowName}}",
              "text": "Workflow: {{$json.workflowName}}\n\nError Message:\n{{$json.error.message}}\n\nStack Trace:\n{{$json.error.stack}}\n\nTimestamp: {{new Date().toISOString()}}"
            },
            "id": "5",
            "name": "Admin Email Alert",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
              900,
              300
            ],
            "credentials": {
              "smtp": {
                "id": "AhpoCKfSVc7RskIl",
                "name": "Resend SMTP"
              }
            },
            "continueOnFail": true
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={ { source: \"🔥 NEXUS - Global Error Notifier\", severity: \"medium\", message: \"Alert event from 🔥 NEXUS - Global Error Notifier\", payload: $json } }"
            },
            "id": "forward_ingress_LSeOJC8V",
            "name": "Forward to Alert Ingress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              460,
              160
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "Error Webhook": {
            "main": [
              [
                {
                  "node": "Rust Error Analyzer"
                },
                {
                  "node": "Forward to Alert Ingress",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Rust Error Analyzer": {
            "main": [
              [
                {
                  "node": "Telegram Critical Alert"
                },
                {
                  "node": "Log to Loki"
                }
              ]
            ]
          },
          "Log to Loki": {
            "main": [
              [
                {
                  "node": "Admin Email Alert"
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:10:16.783Z",
            "id": 28,
            "workflowId": "LSeOJC8VuWOL4dp4",
            "versionId": "07fe1510-065f-428f-bcca-da1894b73fb5",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "46ed97af265393081750a4d8689ed33d0e6d30f4389b59c43fa99ab31a419288"
    }
  },
  "wS7fV23QTcEyElD4": {
    "name": "🛡️ NEXUS - Security Incident Aggregator FULL",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:30.293Z",
      "createdAt": "2026-03-03T22:46:01.775Z",
      "id": "wS7fV23QTcEyElD4",
      "name": "🛡️ NEXUS - Security Incident Aggregator FULL",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "security-alert",
            "responseMode": "onReceived"
          },
          "id": "webhook",
          "name": "Security Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        },
        {
          "parameters": {
            "url": "http://nexus-rust-service:8080/severity-score",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "{{ {\"source\": $json.source, \"type\": $json.type, \"ip\": $json.ip, \"message\": $json.message, \"timestamp\": new Date().toISOString()} }}"
          },
          "id": "rust",
          "name": "Rust Severity Analyzer",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            460,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "conditions": {
              "number": [
                {
                  "value1": "={{ $json[\"Rust Severity Analyzer\"].score }}",
                  "operation": "larger",
                  "value2": 70
                }
              ]
            }
          },
          "id": "if",
          "name": "IF Critical (>70)",
          "type": "n8n-nodes-base.if",
          "typeVersion": 1,
          "position": [
            680,
            300
          ]
        },
        {
          "parameters": {
            "url": "http://traefik:8080/api/http/middlewares/block-ip",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "{{ {\"ip\": $json.ip, \"reason\": $json.message, \"duration\": \"24h\"} }}"
          },
          "id": "block",
          "name": "Auto Block IP (Traefik)",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            900,
            150
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
            "text": "🚨 NEXUS SECURITY ALERT\n\nSource: {{ $json.source }}\nType: {{ $json.type }}\nIP: {{ $json.ip }}\nSeverity: {{ $json[\"Rust Severity Analyzer\"].score || \"UNKNOWN\" }}/100\nMessage: {{ $json.message }}\n\nAction: {{ $json[\"Rust Severity Analyzer\"].score > 70 ? '🔒 AUTO-BLOCKED' : '⚠️ MONITORED' }}"
          },
          "id": "tg",
          "name": "Telegram Alert",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            900,
            350
          ],
          "credentials": {
            "telegram": {
              "id": "telegram-nexus-1"
            },
            "telegramApi": {
              "id": "P1JqNmgOzQhedrUg",
              "name": "NEXUS Telegram Bot"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "url": "http://loki:3100/loki/api/v1/push",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"security\",\"severity\":\"{{ $json[\\\"Rust Severity Analyzer\\\"].score > 70 ? 'CRITICAL' : 'WARNING' }}\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"Source: {{ $json.source }} | Type: {{ $json.type }} | IP: {{ $json.ip }} | Severity: {{ $json[\\\"Rust Severity Analyzer\\\"].score || 'UNKNOWN' }}\"]]}]} }}"
          },
          "id": "loki",
          "name": "Log to Loki",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            1120,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "fromEmail": "security@nexus.store",
            "toEmail": "admin@nexus.store",
            "subject": "🚨 NEXUS Security Incident - {{ $json.source }}",
            "text": "Security Incident Report\n\nSource: {{ $json.source }}\nType: {{ $json.type }}\nIP: {{ $json.ip }}\nTimestamp: {{ new Date().toISOString() }}\nSeverity Score: {{ $json[\"Rust Severity Analyzer\"].score || 'ANALYZING' }}/100\n\nMessage:\n{{ $json.message }}\n\nAction Taken: {{ $json[\"Rust Severity Analyzer\"].score > 70 ? 'IP BLOCKED (24h)' : 'MONITORED' }}"
          },
          "id": "email",
          "name": "Admin Email",
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 1,
          "position": [
            1340,
            300
          ],
          "credentials": {
            "smtp": {
              "id": "AhpoCKfSVc7RskIl",
              "name": "Resend SMTP"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={ { source: \"🛡️ NEXUS - Security Incident Aggregator FULL\", severity: \"medium\", message: \"Alert event from 🛡️ NEXUS - Security Incident Aggregator FULL\", payload: $json } }"
          },
          "id": "forward_ingress_wS7fV23Q",
          "name": "Forward to Alert Ingress",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            460,
            160
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "Security Webhook": {
          "main": [
            [
              {
                "node": "Rust Severity Analyzer"
              },
              {
                "node": "Forward to Alert Ingress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Rust Severity Analyzer": {
          "main": [
            [
              {
                "node": "IF Critical (>70)"
              }
            ]
          ]
        },
        "IF Critical (>70)": {
          "main": [
            [
              {
                "node": "Auto Block IP (Traefik)"
              },
              {
                "node": "Telegram Alert"
              }
            ]
          ]
        },
        "Auto Block IP (Traefik)": {
          "main": [
            [
              {
                "node": "Log to Loki"
              }
            ]
          ]
        },
        "Telegram Alert": {
          "main": [
            [
              {
                "node": "Admin Email"
              }
            ]
          ]
        },
        "Log to Loki": {
          "main": [
            [
              {
                "node": "Admin Email"
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "Global Error Notifier",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "5bb5fb7b-da40-4a0d-91a0-699cf230cfe7",
      "activeVersionId": "5bb5fb7b-da40-4a0d-91a0-699cf230cfe7",
      "versionCounter": 8,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:01.775Z",
          "createdAt": "2026-03-03T22:46:01.775Z",
          "role": "workflow:owner",
          "workflowId": "wS7fV23QTcEyElD4",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:08:38.416Z",
        "createdAt": "2026-03-04T04:08:38.416Z",
        "versionId": "5bb5fb7b-da40-4a0d-91a0-699cf230cfe7",
        "workflowId": "wS7fV23QTcEyElD4",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "security-alert",
              "responseMode": "onReceived"
            },
            "id": "webhook",
            "name": "Security Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
              240,
              300
            ]
          },
          {
            "parameters": {
              "url": "http://nexus-rust-service:8080/severity-score",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "{{ {\"source\": $json.source, \"type\": $json.type, \"ip\": $json.ip, \"message\": $json.message, \"timestamp\": new Date().toISOString()} }}"
            },
            "id": "rust",
            "name": "Rust Severity Analyzer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              460,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "conditions": {
                "number": [
                  {
                    "value1": "={{ $json[\"Rust Severity Analyzer\"].score }}",
                    "operation": "larger",
                    "value2": 70
                  }
                ]
              }
            },
            "id": "if",
            "name": "IF Critical (>70)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
              680,
              300
            ]
          },
          {
            "parameters": {
              "url": "http://traefik:8080/api/http/middlewares/block-ip",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "{{ {\"ip\": $json.ip, \"reason\": $json.message, \"duration\": \"24h\"} }}"
            },
            "id": "block",
            "name": "Auto Block IP (Traefik)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              900,
              150
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "🚨 NEXUS SECURITY ALERT\n\nSource: {{ $json.source }}\nType: {{ $json.type }}\nIP: {{ $json.ip }}\nSeverity: {{ $json[\"Rust Severity Analyzer\"].score || \"UNKNOWN\" }}/100\nMessage: {{ $json.message }}\n\nAction: {{ $json[\"Rust Severity Analyzer\"].score > 70 ? '🔒 AUTO-BLOCKED' : '⚠️ MONITORED' }}"
            },
            "id": "tg",
            "name": "Telegram Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              900,
              350
            ],
            "credentials": {
              "telegram": {
                "id": "telegram-nexus-1"
              },
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            },
            "continueOnFail": true
          },
          {
            "parameters": {
              "url": "http://loki:3100/loki/api/v1/push",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"security\",\"severity\":\"{{ $json[\\\"Rust Severity Analyzer\\\"].score > 70 ? 'CRITICAL' : 'WARNING' }}\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"Source: {{ $json.source }} | Type: {{ $json.type }} | IP: {{ $json.ip }} | Severity: {{ $json[\\\"Rust Severity Analyzer\\\"].score || 'UNKNOWN' }}\"]]}]} }}"
            },
            "id": "loki",
            "name": "Log to Loki",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              1120,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "fromEmail": "security@nexus.store",
              "toEmail": "admin@nexus.store",
              "subject": "🚨 NEXUS Security Incident - {{ $json.source }}",
              "text": "Security Incident Report\n\nSource: {{ $json.source }}\nType: {{ $json.type }}\nIP: {{ $json.ip }}\nTimestamp: {{ new Date().toISOString() }}\nSeverity Score: {{ $json[\"Rust Severity Analyzer\"].score || 'ANALYZING' }}/100\n\nMessage:\n{{ $json.message }}\n\nAction Taken: {{ $json[\"Rust Severity Analyzer\"].score > 70 ? 'IP BLOCKED (24h)' : 'MONITORED' }}"
            },
            "id": "email",
            "name": "Admin Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
              1340,
              300
            ],
            "credentials": {
              "smtp": {
                "id": "AhpoCKfSVc7RskIl",
                "name": "Resend SMTP"
              }
            },
            "continueOnFail": true
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={ { source: \"🛡️ NEXUS - Security Incident Aggregator FULL\", severity: \"medium\", message: \"Alert event from 🛡️ NEXUS - Security Incident Aggregator FULL\", payload: $json } }"
            },
            "id": "forward_ingress_wS7fV23Q",
            "name": "Forward to Alert Ingress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              460,
              160
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "Security Webhook": {
            "main": [
              [
                {
                  "node": "Rust Severity Analyzer"
                },
                {
                  "node": "Forward to Alert Ingress",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Rust Severity Analyzer": {
            "main": [
              [
                {
                  "node": "IF Critical (>70)"
                }
              ]
            ]
          },
          "IF Critical (>70)": {
            "main": [
              [
                {
                  "node": "Auto Block IP (Traefik)"
                },
                {
                  "node": "Telegram Alert"
                }
              ]
            ]
          },
          "Auto Block IP (Traefik)": {
            "main": [
              [
                {
                  "node": "Log to Loki"
                }
              ]
            ]
          },
          "Telegram Alert": {
            "main": [
              [
                {
                  "node": "Admin Email"
                }
              ]
            ]
          },
          "Log to Loki": {
            "main": [
              [
                {
                  "node": "Admin Email"
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:10:16.875Z",
            "id": 29,
            "workflowId": "wS7fV23QTcEyElD4",
            "versionId": "5bb5fb7b-da40-4a0d-91a0-699cf230cfe7",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "73fe7664bdbcff162efb8df4dac5a8fc4398e0ded44d7580e0ae4904b7270a9d"
    }
  },
  "JIYezWmylRm4V2nB": {
    "name": "📊 NEXUS - Performance Monitor + Auto-Optimize",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:30.330Z",
      "createdAt": "2026-03-03T22:46:02.569Z",
      "id": "JIYezWmylRm4V2nB",
      "name": "📊 NEXUS - Performance Monitor + Auto-Optimize",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "cronExpression": "0 * * * *"
          },
          "id": "cron_hourly",
          "name": "Every Hour",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        },
        {
          "parameters": {
            "url": "http://prometheus:9090/api/v1/query",
            "method": "GET",
            "qs": {
              "query": "avg(response_time_ms) by (endpoint)"
            }
          },
          "id": "fetch_metrics",
          "name": "Fetch Prometheus Metrics",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            460,
            300
          ]
        },
        {
          "parameters": {
            "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
            "method": "POST",
            "jsonBody": true,
            "responseFormat": "json",
            "body": "{\"model\": \"gemini-1.5-flash\", \"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"Analyze performance metrics. Identify slow endpoints and suggest optimizations.\"}]}, {\"role\": \"user\", \"parts\": [{\"text\": \"{{ JSON.stringify($json) }}\"}]}]}"
          },
          "id": "analyze_performance",
          "name": "Gemini: Analyze Performance",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            680,
            300
          ],
          "credentials": {
            "googlePalmApi": {
              "id": "6BklJbKHfDJ6Lbcj",
              "name": "NEXUS Gemini"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{ $response.body.candidates[0].content.parts[0].text }}",
                  "operation": "contains",
                  "value2": "slow"
                }
              ]
            }
          },
          "id": "check_slow",
          "name": "IF Performance Issues",
          "type": "n8n-nodes-base.if",
          "typeVersion": 1,
          "position": [
            900,
            300
          ]
        },
        {
          "parameters": {
            "url": "http://nexus-rust-service:8080/optimize",
            "method": "POST",
            "jsonBody": true,
            "body": "{\"type\": \"auto-optimize\", \"targets\": \"database,cache\"}"
          },
          "id": "trigger_optimization",
          "name": "Trigger Optimization",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            1120,
            300
          ]
        },
        {
          "parameters": {
            "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
            "text": "⚡ Auto-optimization triggered\\nIssues: {{ $response.body.candidates[0].content.parts[0].text }}"
          },
          "id": "notify_optimization",
          "name": "Notify Admin",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            1340,
            300
          ],
          "credentials": {
            "telegram": {
              "id": "telegram-nexus-1"
            },
            "telegramApi": {
              "id": "P1JqNmgOzQhedrUg",
              "name": "NEXUS Telegram Bot"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={ { source: \"📊 NEXUS - Performance Monitor + Auto-Optimize\", severity: \"medium\", message: \"Alert event from 📊 NEXUS - Performance Monitor + Auto-Optimize\", payload: $json } }"
          },
          "id": "forward_ingress_JIYezWmy",
          "name": "Forward to Alert Ingress",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            460,
            160
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "Every Hour": {
          "main": [
            [
              {
                "node": "Fetch Prometheus Metrics",
                "type": "main",
                "index": 0
              },
              {
                "node": "Forward to Alert Ingress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fetch Prometheus Metrics": {
          "main": [
            [
              {
                "node": "Gemini: Analyze Performance",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini: Analyze Performance": {
          "main": [
            [
              {
                "node": "IF Performance Issues",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF Performance Issues": {
          "main": [
            [
              {
                "node": "Trigger Optimization",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Trigger Optimization": {
          "main": [
            [
              {
                "node": "Notify Admin",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "Global Error Notifier",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "f7069919-bb0f-483e-b889-d2109ae26889",
      "activeVersionId": "f7069919-bb0f-483e-b889-d2109ae26889",
      "versionCounter": 10,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:02.569Z",
          "createdAt": "2026-03-03T22:46:02.569Z",
          "role": "workflow:owner",
          "workflowId": "JIYezWmylRm4V2nB",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:08:38.485Z",
        "createdAt": "2026-03-04T04:08:38.485Z",
        "versionId": "f7069919-bb0f-483e-b889-d2109ae26889",
        "workflowId": "JIYezWmylRm4V2nB",
        "nodes": [
          {
            "parameters": {
              "cronExpression": "0 * * * *"
            },
            "id": "cron_hourly",
            "name": "Every Hour",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
              240,
              300
            ]
          },
          {
            "parameters": {
              "url": "http://prometheus:9090/api/v1/query",
              "method": "GET",
              "qs": {
                "query": "avg(response_time_ms) by (endpoint)"
              }
            },
            "id": "fetch_metrics",
            "name": "Fetch Prometheus Metrics",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              460,
              300
            ]
          },
          {
            "parameters": {
              "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
              "method": "POST",
              "jsonBody": true,
              "responseFormat": "json",
              "body": "{\"model\": \"gemini-1.5-flash\", \"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"Analyze performance metrics. Identify slow endpoints and suggest optimizations.\"}]}, {\"role\": \"user\", \"parts\": [{\"text\": \"{{ JSON.stringify($json) }}\"}]}]}"
            },
            "id": "analyze_performance",
            "name": "Gemini: Analyze Performance",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              680,
              300
            ],
            "credentials": {
              "googlePalmApi": {
                "id": "6BklJbKHfDJ6Lbcj",
                "name": "NEXUS Gemini"
              }
            }
          },
          {
            "parameters": {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $response.body.candidates[0].content.parts[0].text }}",
                    "operation": "contains",
                    "value2": "slow"
                  }
                ]
              }
            },
            "id": "check_slow",
            "name": "IF Performance Issues",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
              900,
              300
            ]
          },
          {
            "parameters": {
              "url": "http://nexus-rust-service:8080/optimize",
              "method": "POST",
              "jsonBody": true,
              "body": "{\"type\": \"auto-optimize\", \"targets\": \"database,cache\"}"
            },
            "id": "trigger_optimization",
            "name": "Trigger Optimization",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              1120,
              300
            ]
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "⚡ Auto-optimization triggered\\nIssues: {{ $response.body.candidates[0].content.parts[0].text }}"
            },
            "id": "notify_optimization",
            "name": "Notify Admin",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              1340,
              300
            ],
            "credentials": {
              "telegram": {
                "id": "telegram-nexus-1"
              },
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            }
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={ { source: \"📊 NEXUS - Performance Monitor + Auto-Optimize\", severity: \"medium\", message: \"Alert event from 📊 NEXUS - Performance Monitor + Auto-Optimize\", payload: $json } }"
            },
            "id": "forward_ingress_JIYezWmy",
            "name": "Forward to Alert Ingress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              460,
              160
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "Every Hour": {
            "main": [
              [
                {
                  "node": "Fetch Prometheus Metrics",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Forward to Alert Ingress",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Fetch Prometheus Metrics": {
            "main": [
              [
                {
                  "node": "Gemini: Analyze Performance",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Gemini: Analyze Performance": {
            "main": [
              [
                {
                  "node": "IF Performance Issues",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "IF Performance Issues": {
            "main": [
              [
                {
                  "node": "Trigger Optimization",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Trigger Optimization": {
            "main": [
              [
                {
                  "node": "Notify Admin",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:10:16.974Z",
            "id": 30,
            "workflowId": "JIYezWmylRm4V2nB",
            "versionId": "f7069919-bb0f-483e-b889-d2109ae26889",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "611af5baf0ebf7c3cd4bb4c4a2972914fb4f6c5a41a95116c6cac2c6ecbd76c7"
    }
  },
  "aiLY498cB2sjk9Nw": {
    "name": "🐳 NEXUS - Container Auto-Registration FIXED",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:30.364Z",
      "createdAt": "2026-03-03T22:46:02.182Z",
      "id": "aiLY498cB2sjk9Nw",
      "name": "🐳 NEXUS - Container Auto-Registration FIXED",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "container-detected",
            "responseMode": "onReceived"
          },
          "id": "webhook",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            300
          ]
        },
        {
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{ $json.body?.containerId ?? $json.containerId }}",
                  "operation": "notEmpty"
                }
              ]
            }
          },
          "id": "switch",
          "name": "IF Container Data Valid",
          "type": "n8n-nodes-base.if",
          "typeVersion": 1,
          "position": [
            460,
            300
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus_app:3030/api/docker/register",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ {containerId: $json.body?.containerId ?? $json.containerId, containerName: $json.body?.containerName ?? $json.containerName, image: $json.body?.image ?? $json.image, ports: $json.body?.ports ?? $json.ports, labels: $json.body?.labels ?? $json.labels, environment: $json.body?.environment ?? $json.environment, networks: $json.body?.networks ?? $json.networks} }}"
          },
          "id": "register",
          "name": "Register to API",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            680,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "variables": {
              "containerData": {
                "containerId": "={{ $json.body?.containerId ?? $json.containerId }}",
                "containerName": "={{ $json.body?.containerName ?? $json.containerName }}",
                "image": "={{ $json.body?.image ?? $json.image }}",
                "ports": "={{ $json.body?.ports ?? $json.ports }}",
                "labels": "={{ $json.body?.labels ?? $json.labels }}",
                "metricsPort": "={{ $json.body?.labels?.[\"prometheus.port\"] ?? $json.labels?.[\"prometheus.port\"] ?? 9090 }}"
              }
            }
          },
          "id": "setvars",
          "name": "Set Variables",
          "type": "n8n-nodes-base.set",
          "typeVersion": 1,
          "position": [
            900,
            300
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {containerId: 'unknown', containerName: 'unknown', ports: {}};\nconst port = cd.ports && typeof cd.ports === 'object' ? Object.keys(cd.ports)[0] : '8080';\nreturn {system: 'traefik', status: 'pending', message: 'Traefik queued: ' + cd.containerName, port: port};"
          },
          "id": "traefik",
          "name": "Traefik Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            100
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {containerName: 'unknown', metricsPort: 9090};\nconst jobName = 'auto-' + cd.containerName;\nreturn {system: 'prometheus', status: 'pending', jobName: jobName, metricsPort: cd.metricsPort, message: 'Prometheus job: ' + jobName};"
          },
          "id": "prom",
          "name": "Prometheus Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            200
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nreturn {system: 'grafana', status: 'pending', dashboardName: cd.containerName + ' Metrics', message: 'Grafana dashboard queued'};"
          },
          "id": "grafana",
          "name": "Grafana Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            300
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nconst domain = cd.containerName + '.local';\nreturn {system: 'kuma', status: 'pending', monitorName: cd.containerName + ' Uptime', url: 'https://' + domain, message: 'Uptime Kuma queued'};"
          },
          "id": "kuma",
          "name": "Kuma Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            400
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {labels: {}};\nconst enabled = cd.labels['wireguard.enabled'] === 'true';\nreturn {system: 'wireguard', status: enabled ? 'pending' : 'skipped', message: enabled ? 'WireGuard peer config queued' : 'WireGuard skipped'};"
          },
          "id": "wg",
          "name": "WireGuard Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            500
          ]
        },
        {
          "parameters": {
            "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nreturn {system: 'loki', status: 'pending', jobName: 'docker-' + cd.containerName, message: 'Loki log scrape queued'};"
          },
          "id": "loki",
          "name": "Loki Adapter",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1100,
            600
          ]
        },
        {
          "parameters": {
            "mode": "combine",
            "mergeByFields": {
              "fields": []
            }
          },
          "id": "merge",
          "name": "Merge Results",
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3,
          "position": [
            1320,
            350
          ]
        },
        {
          "parameters": {
            "responseCode": 200,
            "responseBody": "={{ {status: 'registered', containerId: $json.body?.containerId ?? $json.containerId, containerName: $json.body?.containerName ?? $json.containerName, message: 'Container registration initiated', systems: 'Traefik, Prometheus, Grafana, Kuma, WireGuard, Loki'} }}"
          },
          "id": "response",
          "name": "Respond to Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            1520,
            350
          ]
        },
        {
          "parameters": {
            "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
            "text": "🐳 Container detected:\n{{ $json.body?.containerName ?? $json.containerName }}\nID: {{ $json.body?.containerId ?? $json.containerId }}\nImage: {{ $json.body?.image ?? $json.image }}\nStatus: Registering across systems..."
          },
          "id": "telegram",
          "name": "Telegram Notification",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            1520,
            500
          ],
          "credentials": {
            "telegram": {
              "id": "telegram-nexus-1"
            },
            "telegramApi": {
              "id": "P1JqNmgOzQhedrUg",
              "name": "NEXUS Telegram Bot"
            }
          },
          "continueOnFail": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={ { source: \"🐳 NEXUS - Container Auto-Registration FIXED\", severity: \"medium\", message: \"Alert event from 🐳 NEXUS - Container Auto-Registration FIXED\", payload: $json } }"
          },
          "id": "forward_ingress_aiLY498c",
          "name": "Forward to Alert Ingress",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            460,
            160
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "IF Container Data Valid",
                "type": "main",
                "index": 0
              },
              {
                "node": "Forward to Alert Ingress",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF Container Data Valid": {
          "main": [
            [
              {
                "node": "Register to API",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Register to API": {
          "main": [
            [
              {
                "node": "Set Variables",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Set Variables": {
          "main": [
            [
              {
                "node": "Traefik Adapter",
                "type": "main",
                "index": 0
              },
              {
                "node": "Prometheus Adapter",
                "type": "main",
                "index": 0
              },
              {
                "node": "Grafana Adapter",
                "type": "main",
                "index": 0
              },
              {
                "node": "Kuma Adapter",
                "type": "main",
                "index": 0
              },
              {
                "node": "WireGuard Adapter",
                "type": "main",
                "index": 0
              },
              {
                "node": "Loki Adapter",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Traefik Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prometheus Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Grafana Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 2
              }
            ]
          ]
        },
        "Kuma Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 3
              }
            ]
          ]
        },
        "WireGuard Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 4
              }
            ]
          ]
        },
        "Loki Adapter": {
          "main": [
            [
              {
                "node": "Merge Results",
                "type": "main",
                "index": 5
              }
            ]
          ]
        },
        "Merge Results": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Respond to Webhook": {
          "main": [
            [
              {
                "node": "Telegram Notification",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "447137cb-e1c2-44ba-9abb-9590bdcaaba8",
      "activeVersionId": "447137cb-e1c2-44ba-9abb-9590bdcaaba8",
      "versionCounter": 8,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:02.182Z",
          "createdAt": "2026-03-03T22:46:02.182Z",
          "role": "workflow:owner",
          "workflowId": "aiLY498cB2sjk9Nw",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:08:38.548Z",
        "createdAt": "2026-03-04T04:08:38.548Z",
        "versionId": "447137cb-e1c2-44ba-9abb-9590bdcaaba8",
        "workflowId": "aiLY498cB2sjk9Nw",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "container-detected",
              "responseMode": "onReceived"
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
              240,
              300
            ]
          },
          {
            "parameters": {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.body?.containerId ?? $json.containerId }}",
                    "operation": "notEmpty"
                  }
                ]
              }
            },
            "id": "switch",
            "name": "IF Container Data Valid",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
              460,
              300
            ]
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus_app:3030/api/docker/register",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={{ {containerId: $json.body?.containerId ?? $json.containerId, containerName: $json.body?.containerName ?? $json.containerName, image: $json.body?.image ?? $json.image, ports: $json.body?.ports ?? $json.ports, labels: $json.body?.labels ?? $json.labels, environment: $json.body?.environment ?? $json.environment, networks: $json.body?.networks ?? $json.networks} }}"
            },
            "id": "register",
            "name": "Register to API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              680,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "variables": {
                "containerData": {
                  "containerId": "={{ $json.body?.containerId ?? $json.containerId }}",
                  "containerName": "={{ $json.body?.containerName ?? $json.containerName }}",
                  "image": "={{ $json.body?.image ?? $json.image }}",
                  "ports": "={{ $json.body?.ports ?? $json.ports }}",
                  "labels": "={{ $json.body?.labels ?? $json.labels }}",
                  "metricsPort": "={{ $json.body?.labels?.[\"prometheus.port\"] ?? $json.labels?.[\"prometheus.port\"] ?? 9090 }}"
                }
              }
            },
            "id": "setvars",
            "name": "Set Variables",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
              900,
              300
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {containerId: 'unknown', containerName: 'unknown', ports: {}};\nconst port = cd.ports && typeof cd.ports === 'object' ? Object.keys(cd.ports)[0] : '8080';\nreturn {system: 'traefik', status: 'pending', message: 'Traefik queued: ' + cd.containerName, port: port};"
            },
            "id": "traefik",
            "name": "Traefik Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              100
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {containerName: 'unknown', metricsPort: 9090};\nconst jobName = 'auto-' + cd.containerName;\nreturn {system: 'prometheus', status: 'pending', jobName: jobName, metricsPort: cd.metricsPort, message: 'Prometheus job: ' + jobName};"
            },
            "id": "prom",
            "name": "Prometheus Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              200
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nreturn {system: 'grafana', status: 'pending', dashboardName: cd.containerName + ' Metrics', message: 'Grafana dashboard queued'};"
            },
            "id": "grafana",
            "name": "Grafana Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              300
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nconst domain = cd.containerName + '.local';\nreturn {system: 'kuma', status: 'pending', monitorName: cd.containerName + ' Uptime', url: 'https://' + domain, message: 'Uptime Kuma queued'};"
            },
            "id": "kuma",
            "name": "Kuma Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              400
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {labels: {}};\nconst enabled = cd.labels['wireguard.enabled'] === 'true';\nreturn {system: 'wireguard', status: enabled ? 'pending' : 'skipped', message: enabled ? 'WireGuard peer config queued' : 'WireGuard skipped'};"
            },
            "id": "wg",
            "name": "WireGuard Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              500
            ]
          },
          {
            "parameters": {
              "jsCode": "const cd = $variables.containerData || {containerName: 'unknown'};\nreturn {system: 'loki', status: 'pending', jobName: 'docker-' + cd.containerName, message: 'Loki log scrape queued'};"
            },
            "id": "loki",
            "name": "Loki Adapter",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1100,
              600
            ]
          },
          {
            "parameters": {
              "mode": "combine",
              "mergeByFields": {
                "fields": []
              }
            },
            "id": "merge",
            "name": "Merge Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
              1320,
              350
            ]
          },
          {
            "parameters": {
              "responseCode": 200,
              "responseBody": "={{ {status: 'registered', containerId: $json.body?.containerId ?? $json.containerId, containerName: $json.body?.containerName ?? $json.containerName, message: 'Container registration initiated', systems: 'Traefik, Prometheus, Grafana, Kuma, WireGuard, Loki'} }}"
            },
            "id": "response",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
              1520,
              350
            ]
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "🐳 Container detected:\n{{ $json.body?.containerName ?? $json.containerName }}\nID: {{ $json.body?.containerId ?? $json.containerId }}\nImage: {{ $json.body?.image ?? $json.image }}\nStatus: Registering across systems..."
            },
            "id": "telegram",
            "name": "Telegram Notification",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              1520,
              500
            ],
            "credentials": {
              "telegram": {
                "id": "telegram-nexus-1"
              },
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            },
            "continueOnFail": true
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/system-alert-ingress",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={ { source: \"🐳 NEXUS - Container Auto-Registration FIXED\", severity: \"medium\", message: \"Alert event from 🐳 NEXUS - Container Auto-Registration FIXED\", payload: $json } }"
            },
            "id": "forward_ingress_aiLY498c",
            "name": "Forward to Alert Ingress",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              460,
              160
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "Webhook": {
            "main": [
              [
                {
                  "node": "IF Container Data Valid",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Forward to Alert Ingress",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "IF Container Data Valid": {
            "main": [
              [
                {
                  "node": "Register to API",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Register to API": {
            "main": [
              [
                {
                  "node": "Set Variables",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Set Variables": {
            "main": [
              [
                {
                  "node": "Traefik Adapter",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Prometheus Adapter",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Grafana Adapter",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Kuma Adapter",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "WireGuard Adapter",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Loki Adapter",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Traefik Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Prometheus Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 1
                }
              ]
            ]
          },
          "Grafana Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 2
                }
              ]
            ]
          },
          "Kuma Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 3
                }
              ]
            ]
          },
          "WireGuard Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 4
                }
              ]
            ]
          },
          "Loki Adapter": {
            "main": [
              [
                {
                  "node": "Merge Results",
                  "type": "main",
                  "index": 5
                }
              ]
            ]
          },
          "Merge Results": {
            "main": [
              [
                {
                  "node": "Respond to Webhook",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Respond to Webhook": {
            "main": [
              [
                {
                  "node": "Telegram Notification",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:10:17.185Z",
            "id": 31,
            "workflowId": "aiLY498cB2sjk9Nw",
            "versionId": "447137cb-e1c2-44ba-9abb-9590bdcaaba8",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "c72adf72db914bf43f91e146f66c9f251c91251db2f25846482bf8e6b1e7ba5a"
    }
  }
}