workflow_snapshots/alert_integration_FIXED_20260304_052455.json
{
  "sursBjK1ZGzMes8k": {
    "name": "🚨 NEXUS - Unified Alert Ingress",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:11:36.182Z",
      "createdAt": "2026-03-04T04:08:38.223Z",
      "id": "sursBjK1ZGzMes8k",
      "name": "🚨 NEXUS - Unified Alert Ingress",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "system-alert-ingress",
            "responseMode": "onReceived"
          },
          "id": "alert_ingress_webhook",
          "name": "System Alert Ingress",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            300
          ],
          "webhookId": "a0dec020-90e2-4e2d-a881-9c68fdd520a1"
        },
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "source",
                  "value": "={{ $json.source || $json.workflow || \"unknown\" }}"
                },
                {
                  "name": "severity",
                  "value": "={{ $json.severity || \"medium\" }}"
                },
                {
                  "name": "message",
                  "value": "={{ $json.message || $json.text || JSON.stringify($json) }}"
                }
              ]
            },
            "options": {}
          },
          "id": "normalize_alert",
          "name": "Normalize Alert",
          "type": "n8n-nodes-base.set",
          "typeVersion": 2,
          "position": [
            460,
            300
          ]
        },
        {
          "parameters": {
            "chatId": "6899339578",
            "text": "🚨 System Alert\\nSource: {{$json.source}}\\nSeverity: {{$json.severity}}\\n{{$json.message}}",
            "additionalFields": {}
          },
          "id": "telegram_alert",
          "name": "Telegram Alert",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            700,
            180
          ],
          "credentials": {
            "telegramApi": {
              "id": "M6RSYbbNfAzdDfMM",
              "name": "@Nexusto_bot Token"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.resend.com/emails",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🚨 NEXUS System Alert - \" + $json.severity, html: \"<h2>System Alert</h2><p><b>Source:</b> \" + $json.source + \"</p><p><b>Severity:</b> \" + $json.severity + \"</p><pre>\" + $json.message + \"</pre>\" } }}"
          },
          "id": "email_alert",
          "name": "Email Alert",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            700,
            300
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "method": "POST",
            "url": "http://nexus-n8n.local:5678/webhook/nexus-alert-trigger",
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { source: $json.source, severity: $json.severity, message: $json.message, triggeredAt: $now } }}"
          },
          "id": "trigger_full_audit",
          "name": "Trigger Full Audit",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            700,
            420
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "url": "http://loki:3100/loki/api/v1/push",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "={{ { streams: [ { stream: { job: \"n8n-alerts\", source: $json.source, severity: $json.severity }, values: [ [ String(new Date().getTime()) + \"000000\", \"Alert: \" + $json.message ] ] } ] } }}"
          },
          "id": "loki_alert_sink",
          "name": "Log to Loki",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 2,
          "position": [
            700,
            540
          ],
          "continueOnFail": true
        }
      ],
      "connections": {
        "System Alert Ingress": {
          "main": [
            [
              {
                "node": "Normalize Alert",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize Alert": {
          "main": [
            [
              {
                "node": "Telegram Alert",
                "type": "main",
                "index": 0
              },
              {
                "node": "Email Alert",
                "type": "main",
                "index": 0
              },
              {
                "node": "Trigger Full Audit",
                "type": "main",
                "index": 0
              },
              {
                "node": "Log to Loki",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1"
      },
      "staticData": null,
      "meta": null,
      "pinData": null,
      "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
      "activeVersionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
      "versionCounter": 15,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-04T04:08:38.223Z",
          "createdAt": "2026-03-04T04:08:38.223Z",
          "role": "workflow:owner",
          "workflowId": "sursBjK1ZGzMes8k",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T04:11:36.184Z",
        "createdAt": "2026-03-04T04:11:36.184Z",
        "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
        "workflowId": "sursBjK1ZGzMes8k",
        "nodes": [
          {
            "parameters": {
              "httpMethod": "POST",
              "path": "system-alert-ingress",
              "responseMode": "onReceived"
            },
            "id": "alert_ingress_webhook",
            "name": "System Alert Ingress",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
              240,
              300
            ],
            "webhookId": "a0dec020-90e2-4e2d-a881-9c68fdd520a1"
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "source",
                    "value": "={{ $json.source || $json.workflow || \"unknown\" }}"
                  },
                  {
                    "name": "severity",
                    "value": "={{ $json.severity || \"medium\" }}"
                  },
                  {
                    "name": "message",
                    "value": "={{ $json.message || $json.text || JSON.stringify($json) }}"
                  }
                ]
              },
              "options": {}
            },
            "id": "normalize_alert",
            "name": "Normalize Alert",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
              460,
              300
            ]
          },
          {
            "parameters": {
              "chatId": "6899339578",
              "text": "🚨 System Alert\\nSource: {{$json.source}}\\nSeverity: {{$json.severity}}\\n{{$json.message}}",
              "additionalFields": {}
            },
            "id": "telegram_alert",
            "name": "Telegram Alert",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              700,
              180
            ],
            "credentials": {
              "telegramApi": {
                "id": "M6RSYbbNfAzdDfMM",
                "name": "@Nexusto_bot Token"
              }
            }
          },
          {
            "parameters": {
              "method": "POST",
              "url": "https://api.resend.com/emails",
              "sendHeaders": true,
              "headerParameters": {
                "parameters": [
                  {
                    "name": "Authorization",
                    "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ]
              },
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🚨 NEXUS System Alert - \" + $json.severity, html: \"<h2>System Alert</h2><p><b>Source:</b> \" + $json.source + \"</p><p><b>Severity:</b> \" + $json.severity + \"</p><pre>\" + $json.message + \"</pre>\" } }}"
            },
            "id": "email_alert",
            "name": "Email Alert",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              700,
              300
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "method": "POST",
              "url": "http://nexus-n8n.local:5678/webhook/nexus-alert-trigger",
              "sendBody": true,
              "contentType": "json",
              "specifyBody": "json",
              "jsonBody": "={{ { source: $json.source, severity: $json.severity, message: $json.message, triggeredAt: $now } }}"
            },
            "id": "trigger_full_audit",
            "name": "Trigger Full Audit",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              700,
              420
            ],
            "continueOnFail": true
          },
          {
            "parameters": {
              "url": "http://loki:3100/loki/api/v1/push",
              "method": "POST",
              "jsonParameters": true,
              "bodyParametersJson": "={{ { streams: [ { stream: { job: \"n8n-alerts\", source: $json.source, severity: $json.severity }, values: [ [ String(new Date().getTime()) + \"000000\", \"Alert: \" + $json.message ] ] } ] } }}"
            },
            "id": "loki_alert_sink",
            "name": "Log to Loki",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
              700,
              540
            ],
            "continueOnFail": true
          }
        ],
        "connections": {
          "System Alert Ingress": {
            "main": [
              [
                {
                  "node": "Normalize Alert",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Normalize Alert": {
            "main": [
              [
                {
                  "node": "Telegram Alert",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Email Alert",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Trigger Full Audit",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Log to Loki",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T04:11:36.315Z",
            "id": 33,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          },
          {
            "createdAt": "2026-03-04T04:18:03.868Z",
            "id": 34,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "deactivated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          },
          {
            "createdAt": "2026-03-04T04:20:52.840Z",
            "id": 35,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          },
          {
            "createdAt": "2026-03-04T04:24:29.401Z",
            "id": 36,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "deactivated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          },
          {
            "createdAt": "2026-03-04T04:24:31.517Z",
            "id": 37,
            "workflowId": "sursBjK1ZGzMes8k",
            "versionId": "aa5fa3d2-c31b-4b35-98a5-552890bb5fa6",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "09b94899007a42132fcbd5c89891bfe1482e9d9049c9f02bf5cf38f26082a9a3"
    }
  },
  "4QBqdYgThkCInHD1": {
    "name": "🤖 NEXUS - Full Site Audit Bot",
    "active": true,
    "workflow": {
      "updatedAt": "2026-03-04T04:09:29.641Z",
      "createdAt": "2026-03-03T22:46:03.622Z",
      "id": "4QBqdYgThkCInHD1",
      "name": "🤖 NEXUS - Full Site Audit Bot",
      "description": null,
      "active": true,
      "isArchived": false,
      "nodes": [
        {
          "parameters": {},
          "id": "cron_weekly",
          "name": "Every Sunday 3am UTC",
          "type": "n8n-nodes-base.cron",
          "typeVersion": 1,
          "position": [
            240,
            304
          ]
        },
        {
          "parameters": {
            "values": {
              "string": [
                {
                  "name": "audit_status",
                  "value": "started"
                }
              ]
            },
            "options": {}
          },
          "id": "prepare_data",
          "name": "Prepare Data",
          "type": "n8n-nodes-base.set",
          "typeVersion": 2,
          "position": [
            464,
            304
          ]
        },
        {
          "parameters": {
            "chatId": "6899339578",
            "text": "✅ Weekly site audit completed\\nCheck email for full report",
            "additionalFields": {}
          },
          "id": "notify_audit",
          "name": "Notify Completion",
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1,
          "position": [
            1568,
            304
          ],
          "webhookId": "debe2a65-9bf8-4738-9686-16380f871fab",
          "credentials": {
            "telegramApi": {
              "id": "M6RSYbbNfAzdDfMM",
              "name": "@Nexusto_bot Token"
            }
          }
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDh2YVY62k0U_RJ_C73LUI8T7tfZ0X2oI4",
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": {
              "contents": [
                {
                  "parts": [
                    {
                      "text": "Generate a comprehensive weekly site audit report with:\n1. Executive Summary\n2. Database Health Check - Status: Healthy\n3. Security Assessment - Status: No threats detected\n4. Link Validation - Status: All valid\n5. Recommendations for improvement"
                    }
                  ],
                  "role": "user"
                }
              ]
            },
            "options": {}
          },
          "id": "gemini_audit_http",
          "name": "Gemini: Generate Report",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.1,
          "position": [
            1008,
            304
          ]
        },
        {
          "parameters": {},
          "id": "manual_trigger",
          "name": "Manual Test",
          "type": "n8n-nodes-base.manualTrigger",
          "typeVersion": 1,
          "position": [
            112,
            112
          ]
        },
        {
          "parameters": {
            "method": "POST",
            "url": "https://api.resend.com/emails",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Authorization",
                  "value": "Bearer re_C51jKwtZ_DeLcpK5JcX6mEp7YmD4ecDk6"
                },
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "contentType": "json",
            "specifyBody": "json",
            "jsonBody": "={{ { from: \"onboarding@resend.dev\", to: \"caspertech78@gmail.com\", subject: \"🤖 Weekly Site Audit Report\", html: \"<h1>NEXUS Transport Test</h1><p>Status parse path removed.</p>\" } }}"
          },
          "id": "send_audit_report",
          "name": "Send Report",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4,
          "position": [
            1280,
            304
          ],
          "continueOnFail": true
        },
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "nexus-alert-trigger",
            "responseMode": "onReceived"
          },
          "id": "alert_trigger_webhook",
          "name": "Alert Trigger",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [
            240,
            480
          ],
          "webhookId": "008180de-879c-43fc-b994-643e2c5e56d3"
        }
      ],
      "connections": {
        "Every Sunday 3am UTC": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Prepare Data": {
          "main": [
            [
              {
                "node": "Gemini: Generate Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Gemini: Generate Report": {
          "main": [
            [
              {
                "node": "Send Report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Send Report": {
          "main": [
            [
              {
                "node": "Notify Completion",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Manual Test": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Alert Trigger": {
          "main": [
            [
              {
                "node": "Prepare Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "settings": {
        "executionOrder": "v1",
        "errorWorkflow": "Global Error Notifier",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
      },
      "staticData": null,
      "meta": {
        "templateCredsSetupCompleted": true
      },
      "pinData": {},
      "versionId": "54dc5ddd-5ec5-414f-a298-6336a84bdf44",
      "activeVersionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
      "versionCounter": 118,
      "triggerCount": 1,
      "shared": [
        {
          "updatedAt": "2026-03-03T22:46:03.622Z",
          "createdAt": "2026-03-03T22:46:03.622Z",
          "role": "workflow:owner",
          "workflowId": "4QBqdYgThkCInHD1",
          "projectId": "PERSONAL_PROJECT_CASPER",
          "project": {
            "updatedAt": "2026-03-03T22:45:16.530Z",
            "createdAt": "2026-03-03T22:45:16.530Z",
            "id": "PERSONAL_PROJECT_CASPER",
            "name": "Personal",
            "type": "personal",
            "icon": null,
            "description": null,
            "creatorId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        }
      ],
      "tags": [],
      "parentFolder": null,
      "activeVersion": {
        "updatedAt": "2026-03-04T00:32:12.874Z",
        "createdAt": "2026-03-04T00:31:56.221Z",
        "versionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
        "workflowId": "4QBqdYgThkCInHD1",
        "nodes": [
          {
            "parameters": {},
            "id": "cron_weekly",
            "name": "Every Sunday 3am UTC",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
              240,
              304
            ]
          },
          {
            "parameters": {
              "values": {
                "string": [
                  {
                    "name": "audit_status",
                    "value": "started"
                  }
                ]
              },
              "options": {}
            },
            "id": "prepare_data",
            "name": "Prepare Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
              464,
              304
            ]
          },
          {
            "parameters": {
              "method": "POST",
              "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
              "options": {}
            },
            "id": "gemini_audit_summary",
            "name": "Gemini: Generate Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
              1120,
              304
            ]
          },
          {
            "parameters": {
              "fromEmail": "audit@nexus.store",
              "toEmail": "{{ $env.ADMIN_EMAIL }}",
              "subject": "🤖 Weekly Site Audit Report",
              "emailFormat": "=tex{{  $node[\"Message a model\"].json[\"text\"] }} }}",
              "options": {}
            },
            "id": "send_audit_report",
            "name": "Send Report",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
              1344,
              304
            ],
            "webhookId": "cf32eca3-a585-4951-a5a2-e6f994b5fba3",
            "credentials": {
              "smtp": {
                "id": "AhpoCKfSVc7RskIl",
                "name": "Resend SMTP"
              }
            }
          },
          {
            "parameters": {
              "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
              "text": "✅ Weekly site audit completed\\nCheck email for full report",
              "additionalFields": {}
            },
            "id": "notify_audit",
            "name": "Notify Completion",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
              1568,
              304
            ],
            "webhookId": "debe2a65-9bf8-4738-9686-16380f871fab",
            "credentials": {
              "telegramApi": {
                "id": "P1JqNmgOzQhedrUg",
                "name": "NEXUS Telegram Bot"
              }
            }
          }
        ],
        "connections": {
          "Every Sunday 3am UTC": {
            "main": [
              [
                {
                  "node": "Prepare Data",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Prepare Data": {
            "main": [
              [
                {
                  "node": "Gemini: Generate Report",
                  "type": "main",
                  "index": 0
                },
                {
                  "node": "Send Report",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Gemini: Generate Report": {
            "main": [
              [
                {
                  "node": "Send Report",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Send Report": {
            "main": [
              [
                {
                  "node": "Notify Completion",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        },
        "authors": "Kilo A",
        "name": "Version 3a7f9448",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
          {
            "createdAt": "2026-03-04T00:32:12.866Z",
            "id": 26,
            "workflowId": "4QBqdYgThkCInHD1",
            "versionId": "3a7f9448-0f73-4b0f-95e3-02013c5e3021",
            "event": "activated",
            "userId": "a183f669-8841-4958-9225-942c2f3c8c18"
          }
        ]
      },
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:update"
      ],
      "checksum": "1e0d6f34d1937997ee9a6bce71020d5a2f5624cae6a7145d7dcf9f0f8e9ec6df"
    }
  }
}