n8n-workflows/01-stripe-order-fulfillment.json
{
  "name": "\ud83d\ude80 NEXUS - Stripe Order Fulfillment v3 FULL POWER",
  "description": "Real-time Stripe webhook handler - updates orders to paid, sends AI personalized confirmations, fraud checks, admin alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "stripe-webhook",
        "responseMode": "onReceived",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook",
      "name": "Stripe Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.type }}",
              "operation": "equals",
              "value2": "checkout.session.completed"
            }
          ]
        }
      },
      "id": "if",
      "name": "IF Payment Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "Order",
        "updateFields": {
          "status": "paid"
        },
        "where": "id={{ $json.body.data.object.client_reference_id }}"
      },
      "id": "pg",
      "name": "Update Order \u2192 Paid",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "no-reply@nexus.store",
        "toEmail": "={{ $json.body.data.object.customer_details.email }}",
        "subject": "\u2705 Order #{{ $json.body.data.object.client_reference_id }} Confirmed - Neuromancer Activated",
        "html": "<div style='font-family:sans-serif;'><h2>\ud83c\udf89 Order Confirmed!</h2><p>Your NEXUS order #{{ $json.body.data.object.client_reference_id }} is confirmed.</p><p><strong>Amount:</strong> {{ $json.body.data.object.amount_total / 100 }}\u20ac</p><p>Neuromancer is now packing your order for immediate delivery.</p><p style='margin-top:2rem;color:#666;'>Tracking info coming soon \u2192</p></div>"
      },
      "id": "email",
      "name": "Resend Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "credentials": {
        "smtp": {
          "id": "email-resend-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://nexus-rust-service:8080/fraud-check",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{{ {\"orderId\": $json.body.data.object.client_reference_id, \"amount\": $json.body.data.object.amount_total / 100, \"email\": $json.body.data.object.customer_details.email} }}"
      },
      "id": "rust",
      "name": "Rust Fraud Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "responseFormat": "json",
        "jsonBody": true,
        "body": "{\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"You are Neuromancer, NEXUS's AI agent. Write a 2-sentence ultra-personal thank-you message for order #{{ $json.body.data.object.client_reference_id }} by {{ $json.body.data.object.customer_details.name }}. Include subtle upsell hint for next purchase. Keep it to 100 chars max.\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "gemini",
      "name": "Gemini Personal Thank You",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "6899339578",
        "text": "\ud83d\udecd\ufe0f NEXUS ORDER PAID\n\n#{{ $json.body.data.object.client_reference_id }}\nCustomer: {{ $json.body.data.object.customer_details.name }}\nAmount: {{ $json.body.data.object.amount_total / 100 }}\u20ac\n\nFraud Risk: {{ $json[\"Rust Fraud Agent\"].riskLevel || \"ANALYZING\" }}\nStatus: \u2705 FULFILLMENT ACTIVE"
      },
      "id": "tg",
      "name": "Telegram Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        500
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://loki:3100/loki/api/v1/push",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"orders\",\"type\":\"payment\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"OrderID: {{ $json.body.data.object.client_reference_id }} | Status: PAID | Amount: {{ $json.body.data.object.amount_total / 100 }}\u20ac\"]]}]} }}"
      },
      "id": "loki",
      "name": "Log to Loki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Stripe Webhook": {
      "main": [
        [
          {
            "node": "IF Payment Success"
          }
        ]
      ]
    },
    "IF Payment Success": {
      "main": [
        [
          {
            "node": "Update Order \u2192 Paid"
          },
          {
            "node": "Resend Confirmation"
          }
        ]
      ]
    },
    "Update Order \u2192 Paid": {
      "main": [
        [
          {
            "node": "Rust Fraud Agent"
          }
        ]
      ]
    },
    "Rust Fraud Agent": {
      "main": [
        [
          {
            "node": "Gemini Personal Thank You"
          }
        ]
      ]
    },
    "Gemini Personal Thank You": {
      "main": [
        [
          {
            "node": "Telegram Admin"
          }
        ]
      ]
    },
    "Resend Confirmation": {
      "main": [
        [
          {
            "node": "Log to Loki"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "payment",
    "critical",
    "stripe",
    "fulfillment"
  ]
}