n8n-workflows/02-abandoned-order-recovery.json
{
  "name": "💰 NEXUS - Abandoned Order Recovery AI v3 FULL",
  "description": "Cron-triggered (every 20 min) recovery for orders in pending state >20min - Gemini AI generates personalized recovery emails with RECOVER20 code",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "*/20 * * * *"
      },
      "id": "cron",
      "name": "Every 20min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT o.id, o.total, o.userId, u.email, u.name, string_agg(p.name, ', ') as items FROM \"Order\" o JOIN \"User\" u ON o.userId = u.id LEFT JOIN \"OrderItem\" oi ON o.id = oi.orderId LEFT JOIN \"Product\" p ON oi.productId = p.id WHERE o.status = 'pending' AND o.date < NOW() - INTERVAL '20 minutes' AND o.cancelled = false GROUP BY o.id, u.id LIMIT 30"
      },
      "id": "pg",
      "name": "Find Abandoned Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5
      },
      "id": "split",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "responseFormat": "json",
        "jsonBody": true,
        "body": "{\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Generate a recovery email for abandoned order #{{ $json.id }} with items: {{ $json.items }} (total {{ $json.total }}€). Include RECOVER20 discount code. Keep it concise. Customer: {{ $json.name }} ({{ $json.email }})\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "gemini",
      "name": "Gemini Recovery Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "recovery@nexus.store",
        "toEmail": "={{ $json.email }}",
        "subject": "😱 Your NEXUS order is waiting… (use code RECOVER20)",
        "html": "<div style='font-family:sans-serif;'><h3>{{$json[\"Gemini Recovery Email\"].choices[0].message.content.split('subject')[1]?.split('body')[0] || 'Your order is waiting'}}</h3><p>{{$json[\"Gemini Recovery Email\"].choices[0].message.content}}</p><p style='margin-top:2rem;'><strong>Discount Code: RECOVER20</strong> (20% off recovery)</p></div>"
      },
      "id": "email",
      "name": "Send Recovery",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "email-resend-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "table": "Order",
        "updateFields": {
          "status": "abandoned-notified"
        },
        "where": "id={{ $json.id }}"
      },
      "id": "mark",
      "name": "Mark Notified",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://loki:3100/loki/api/v1/push",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{{ {\"streams\":[{\"stream\":{\"job\":\"recovery\",\"type\":\"abandoned\"},\"values\":[[\"{{new Date().getTime()}}000000\",\"Notified: {{ $json.email }} | OrderID: {{ $json.id }} | Total: {{ $json.total }}€\"]]}]} }}"
      },
      "id": "loki",
      "name": "Log to Loki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 20min": {
      "main": [
        [
          {
            "node": "Find Abandoned Orders"
          }
        ]
      ]
    },
    "Find Abandoned Orders": {
      "main": [
        [
          {
            "node": "SplitInBatches"
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Gemini Recovery Email"
          }
        ]
      ]
    },
    "Gemini Recovery Email": {
      "main": [
        [
          {
            "node": "Send Recovery"
          }
        ]
      ]
    },
    "Send Recovery": {
      "main": [
        [
          {
            "node": "Mark Notified"
          }
        ]
      ]
    },
    "Mark Notified": {
      "main": [
        [
          {
            "node": "Log to Loki"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "marketing",
    "ai",
    "revenue"
  ]
}