n8n-workflows/08-inventory-restock-ai.json
{
  "name": "\ud83d\udce6 NEXUS - AI Inventory Restock",
  "description": "Automated inventory restock with AI-generated supplier emails and price negotiation",
  "version": 1,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 */6 * * *"
      },
      "id": "cron_trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, stock, sku, \"minStock\", \"supplierEmail\" FROM \"Product\" WHERE stock < \"minStock\" ORDER BY stock ASC LIMIT 50"
      },
      "id": "postgres_low_stock",
      "name": "Query Low Stock Products",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split_batches",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "jsonBody": true,
        "responseFormat": "json",
        "body": "{\"model\": \"gemini-1.5-flash\", \"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"Generate a professional and concise supplier restock order email. Be direct and business-like. Include the product name, SKU, requested quantity, and delivery timeline request.\"}]}, {\"role\": \"user\", \"parts\": [{\"text\": \"Generate an email to restock product '{{ $json.name }}' (SKU: {{ $json.sku }}, Current Stock: {{ $json.stock }}, Min Required: {{ $json.minStock }}, Quantity Needed: {{ $json.minStock * 2 - $json.stock }}).\"}]}]}"
      },
      "id": "gemini_email_generator",
      "name": "Gemini: Generate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "orders@nexus.store",
        "toEmail": "={{ $json.supplierEmail }}",
        "subject": "URGENT Restock Request: {{ $json.name }} (SKU: {{ $json.sku }})",
        "html": "={{ $response.body.candidates[0].content.parts[0].text }}"
      },
      "id": "send_supplier_email",
      "name": "Send Email to Supplier",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "email-resend-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"Product\" SET restocking_status = 'in_progress', \"updatedAt\" = NOW() WHERE id = '{{ $json.id }}'"
      },
      "id": "rust_mark_restock",
      "name": "Mark as Restocking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "\ud83d\udce6 Restock email sent for {{ $json.name }} ({{ $json.minStock * 2 - $json.stock }} units needed)"
      },
      "id": "telegram_notification",
      "name": "Telegram: Alert Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Query Low Stock Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Low Stock Products": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Gemini: Generate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Email": {
      "main": [
        [
          {
            "node": "Send Email to Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Supplier": {
      "main": [
        [
          {
            "node": "Mark as Restocking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Restocking": {
      "main": [
        [
          {
            "node": "Telegram: Alert Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "inventory",
    "ai",
    "automation",
    "critical"
  ]
}