n8n-workflows/09-review-collection-ai.json
{
  "name": "\u2b50 NEXUS - AI Review Collector",
  "description": "Collects customer reviews post-purchase and analyzes sentiment",
  "version": 1,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-request-trigger",
        "authentication": "queryAuth"
      },
      "id": "webhook_review_trigger",
      "name": "Review Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "unit": "days",
        "amount": 7
      },
      "id": "delay_7_days",
      "name": "Wait 7 Days",
      "type": "n8n-nodes-base.delay",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "reviews@nexus.store",
        "toEmail": "={{ $json.customerEmail }}",
        "subject": "How was your experience with NEXUS? \u2b50",
        "html": "<h2>We'd love your feedback!</h2><p>Your review helps us serve you better.</p><a href='https://{{ $env.DOMAIN }}/review/{{ $json.orderId }}' style='padding: 10px 20px; background: #0066cc; color: white; text-decoration: none; border-radius: 5px; display: inline-block;'>Write Review</a>"
      },
      "id": "send_review_request",
      "name": "Send Review Request",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "email-resend-1"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "review-submitted",
        "authentication": "queryAuth"
      },
      "id": "webhook_review_submitted",
      "name": "Review Submission Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "jsonBody": true,
        "responseFormat": "json",
        "body": "{\"model\": \"gemini-1.5-flash\", \"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"Analyze customer review sentiment. Respond in JSON format: {\\\"sentiment\\\": \\\"positive|neutral|negative\\\", \\\"score\\\": 0-100, \\\"key_points\\\": []}\"}]}, {\"role\": \"user\", \"parts\": [{\"text\": \"{{ $json.reviewText }}\"}]}]}"
      },
      "id": "gemini_sentiment_analysis",
      "name": "Gemini: Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"Review\" (\"orderId\", \"userId\", \"rating\", \"sentiment\", \"feedback\", \"createdAt\") VALUES ('{{ $json.orderId }}', '{{ $json.userId }}', {{ $json.rating }}, '{{ $json.sentiment }}', '{{ $json.reviewText }}', NOW()) RETURNING *"
      },
      "id": "save_review_db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.sentiment }}",
              "operation": "equals",
              "value2": "negative"
            }
          ]
        }
      },
      "id": "check_negative",
      "name": "IF Negative Review",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_CHAT_ID }}",
        "text": "\u26a0\ufe0f Negative review on order {{ $json.orderId }}:\\n{{ $json.reviewText }}\\nSentiment: {{ $json.sentiment }}"
      },
      "id": "alert_negative_review",
      "name": "Alert Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1780,
        200
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_CHAT_ID }}",
        "text": "\u2705 {{ $json.sentiment | upper }} review collected ({{ $json.rating }} stars)"
      },
      "id": "notify_review_collected",
      "name": "Log Review Collected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      }
    }
  ],
  "connections": {
    "Review Trigger Webhook": {
      "main": [
        [
          {
            "node": "Wait 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 Days": {
      "main": [
        [
          {
            "node": "Send Review Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review Submission Webhook": {
      "main": [
        [
          {
            "node": "Gemini: Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "IF Negative Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Negative Review": {
      "main": [
        [
          {
            "node": "Alert Admin",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Review Collected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "reviews",
    "ai",
    "sentiment",
    "engagement"
  ]
}