n8n-workflows/13-seo-optimizer.json
{
  "name": "\ud83d\udd0d NEXUS - SEO Content Optimizer",
  "description": "Auto-generates SEO-optimized meta tags and submits to search engines",
  "version": 1,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-created"
      },
      "id": "webhook_new_product",
      "name": "New Product Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "authentication": "queryAuth",
        "sendQuery": true,
        "jsonBody": true,
        "body": "{\"model\": \"gemini-1.5-flash\", \"contents\": [{\"role\": \"user\", \"content\": \"Generate SEO-optimized metadata. Return JSON with: metaTitle (60 chars), metaDescription (160 chars), keywords (5-7), and schema markup.\"}, {\"role\": \"user\", \"content\": \"Product: {{ $json.name }}, Category: {{ $json.category }}, Description: {{ $json.description }}\"}]}"
      },
      "id": "gemini_seo_meta",
      "name": "Gemini: Generate SEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"Product\" SET \"metaTitle\" = '{{ $json.metaTitle }}', \"metaDescription\" = '{{ $json.metaDescription }}', \"keywords\" = '{{ $json.keywords | join(\",\") }}', \"schemaMarkup\" = '{{ $json.schema }}' WHERE id = '{{ $json.id }}'"
      },
      "id": "update_product_meta",
      "name": "Update Product Meta",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": "postgres-nexus-1"
      }
    },
    {
      "parameters": {
        "url": "https://www.google.com/ping?sitemap=https://{{ $env.DOMAIN }}/sitemap.xml",
        "method": "GET"
      },
      "id": "submit_google_sitemap",
      "name": "Submit to Google",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_CHAT_ID }}",
        "text": "\ud83d\udd0d SEO optimized for product: {{ $json.name }}\\nKeywords: {{ $json.keywords | join(\", \") }}"
      },
      "id": "notify_seo",
      "name": "Notify SEO Update",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "telegram": "telegram-nexus-1"
      }
    }
  ],
  "connections": {
    "New Product Webhook": {
      "main": [
        [
          {
            "node": "Gemini: Generate SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate SEO": {
      "main": [
        [
          {
            "node": "Update Product Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Meta": {
      "main": [
        [
          {
            "node": "Submit to Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Google": {
      "main": [
        [
          {
            "node": "Notify SEO Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "seo",
    "marketing",
    "ai",
    "content"
  ]
}