n8n-workflows/14-fraud-detector.json
{
  "name": "\ud83d\udee1\ufe0f NEXUS - Fraud Pattern Detector",
  "description": "Real-time fraud detection with auto-blocking capability",
  "version": 1,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-created"
      },
      "id": "webhook_order",
      "name": "Order Created Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://nexus-rust-service:8080/fraud/analyze",
        "method": "POST",
        "jsonBody": true,
        "body": "{\"orderId\": \"{{ $json.id }}\", \"userId\": \"{{ $json.userId }}\", \"amount\": {{ $json.total }}, \"ip\": \"{{ $json.ip }}\", \"device\": \"{{ $json.device }}\", \"previousOrders\": {{ $json.customerHistoryCount }}}"
      },
      "id": "rust_fraud_check",
      "name": "Rust: Fraud Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $response.body.riskScore }}",
              "operation": ">",
              "value2": 75
            }
          ]
        }
      },
      "id": "check_high_risk",
      "name": "IF High Risk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://traefik:8080/api/http/middlewares/ban-ip/config",
        "method": "PUT",
        "jsonBody": true,
        "body": "{\"ips\": [\"{{ $json.ip }}\"], \"duration\": \"24h\"}"
      },
      "id": "traefik_block_ip",
      "name": "Block IP in Traefik",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" SET \"bannedAt\" = NOW(), \"bannedReason\" = 'fraud_suspected' WHERE id = '{{ $json.userId }}'"
      },
      "id": "ban_user",
      "name": "Ban User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "\ud83d\udea8 HIGH FRAUD ALERT\\nOrder: {{ $json.id }}\\nIP Blocked: {{ $json.ip }}\\nRisk Score: {{ $response.body.riskScore }}\\nReason: {{ $response.body.reason }}"
      },
      "id": "alert_fraud",
      "name": "Alert Fraud Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "\u2705 Order {{ $json.id }} passed fraud check (Score: {{ $response.body.riskScore }})"
      },
      "id": "log_clean",
      "name": "Log Clean Order",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      }
    }
  ],
  "connections": {
    "Order Created Webhook": {
      "main": [
        [
          {
            "node": "Rust: Fraud Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rust: Fraud Analysis": {
      "main": [
        [
          {
            "node": "IF High Risk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF High Risk": {
      "main": [
        [
          {
            "node": "Block IP in Traefik",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Clean Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Block IP in Traefik": {
      "main": [
        [
          {
            "node": "Ban User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ban User": {
      "main": [
        [
          {
            "node": "Alert Fraud Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "fraud",
    "security",
    "ai",
    "real-time"
  ]
}