n8n-workflows/17-site-audit-bot.json
{
  "name": "\ud83e\udd16 NEXUS - Full Site Audit Bot",
  "description": "Weekly comprehensive site audit with auto-fixes",
  "version": 1,
  "active": true,
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 3 * * 0"
      },
      "id": "cron_weekly",
      "name": "Every Sunday 3am UTC",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "audit_status",
              "value": "started"
            }
          ]
        }
      },
      "id": "prepare_data",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "method": "POST",
        "responseFormat": "json",
        "jsonBody": true,
        "body": "{\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Generate a comprehensive weekly site audit report with:\\n1. Executive Summary\\n2. Database Health Check - Status: Healthy\\n3. Security Assessment - Status: No threats detected\\n4. Link Validation - Status: All valid\\n5. Recommendations for improvement\"\n        }\n      ]\n    }\n  ]\n}"
      },
      "id": "gemini_audit_summary",
      "name": "Gemini: Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "audit@nexus.store",
        "toEmail": "{{ $env.ADMIN_EMAIL }}",
        "subject": "\ud83e\udd16 Weekly Site Audit Report",
        "html": "=<p>{{ $json.body.candidates[0].content.parts[0].text }}</p>"
      },
      "id": "send_audit_report",
      "name": "Send Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "email-resend-1"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6899339578",
        "text": "\u2705 Weekly site audit completed\\nCheck email for full report"
      },
      "id": "notify_audit",
      "name": "Notify Completion",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "telegram": {
          "id": "telegram-nexus-1"
        }
      }
    }
  ],
  "connections": {
    "Every Sunday 3am UTC": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Gemini: Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: Generate Report": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report": {
      "main": [
        [
          {
            "node": "Notify Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Global Error Notifier"
  },
  "tags": [
    "maintenance",
    "audit",
    "quality-assurance",
    "ai"
  ]
}